sudo: false
language: go
go:
- 1.15.x
env:
  global:
    - GOARCH=amd64
install:
- curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.31.0                                       
before_script:
- golangci-lint run --no-config --disable-all --enable=vet --enable=gofmt --enable=gocyclo --enable=golint --enable=ineffassign --enable=misspell --enable=deadcode --tests=false ./...
script: 
- go test ./...
notifications:
  email: false
