locations: ['fra4', 'hkg1']
bmcCfgDir: /etc/bmcbutler/cfg/
bmcUser: Administrator
bmcPassword: foobar
inventory:
  source: dora
  dora:
    apiUrl: http://dora.booking.com/api
bmcDefaults:
  c7000:
    user: Administrator
    password: password
  m1000e:
    user: root
    password: calvin
