locations: ['fra4', 'hkg1']
bmcCfgDir: /etc/bmcbutler/cfg/
bmcUser: Administrator
bmcPassword: foobar
inventory:
  source: dora
  dora:
    apiUrl: http://dora.example.com/api
  csv:
    file: /etc/bmcbutler/inventory.csv
bmcDefaults:
  c7000:
    user: Administrator
    password: password
  m1000e:
    user: root
    password: calvin
