locations: ['fra4', 'ams4'] 
butlersToSpawn: 1
bmcCfgDir: /etc/bmcbutler/cfg
bmcUser: Administrator
bmcPassword: ThisWaschangedHopefully
inventory:
  configure:
    source: dora
    dora:
      apiUrl: http://dora.example.com/api
    csv:
      file: /etc/bmcbutler/inventory.csv
  setup:
    source: needSetup
bmcDefaults:
  c7000:
    user: Administrator
    password: password
  m1000e:
    user: root
    password: calvin
  supermicrox10:
    user: ADMIN
    password: ADMIN
