locations: ['fra4', 'ams4'] 
butlersToSpawn: 1
bmcCfgDir: /etc/bmcbutler/cfg
bmcPrimaryUser: Administrator
bmcPrimaryPassword: ThisWaschangedHopefully
bmcSecondaryUser: AnotherAdmin
bmcSecondaryPassword: AnotherAdminPass
metrics:
  receiver:
    target: graphite
    graphite:
      host: graphite.example.foo
      port: 3002
      prefix: foo.bar.bmc.butler
inventory:
  configure:
    source: csv
    dora:
      apiUrl: http://dora.example.com/api
    csv:
      file: /etc/bmcbutler/inventory.csv
  setup:
    source: needSetup
bmcDefaults:
  c7000:
    user: Administrator
    password: password
  m1000e:
    user: root
    password: calvin
  supermicrox10:
    user: ADMIN
    password: ADMIN
