locations: ['fra4', 'ams4'] 
butlersToSpawn: 1
bmcCfgDir: /etc/bmcbutler/cfg
credentials:
  accounts:
  - Administrator: "foobar1"
  - Administrator: "hunter2"
  - user1: "barbar"
  - Administrator: "password"
  - root: "calvin"
  - ADMIN: "ADMIN"
metrics:
  clients:
    client: graphite
    graphite:
      host: graphite.example.foo
      port: 3002
      prefix: "foo.bar.bmc.butler"
      flushInterval: 5m
inventory:
  configure:
    source: csv
    enc:
      bin: /usr/bin/assetlookup
      bmcNicPrefix: ["oa", "ilo"]
    dora:
      apiURL: http://dora.example.com/api
    csv:
      file: /etc/bmcbutler/inventory.csv
  setup:
    source: needSetup
