#This config is YAML based and supports plush templating,
# https://github.com/gobuffalo/plush
#
# For support configuration resources, see, 
# https://github.com/bmc-toolbox/bmclib/blob/master/cfgresources/
#
syslog:
  server: ldaps.example.com
  port: 514
  enable: true #defaults to false if not specified

user:
  - name: Administrator
    password: changeme
    role: admin
    enable: true
  - name: foobar
    password: changeme
    role: user
    enable: false

ldap:
  server: ldaps.example.com
  port: 636
  enable: true
  baseDn: ou=People,dc=example,dc=com
  userAttribute: uid
  groupAttribute: memberUid
  searchFilter: objectClass=posixAccount

ldapGroup:
  - role: admin
    group: cn=<%= vendor %>,cn=bmcAdmins
    groupBaseDn: ou=Group,dc=example,dc=com #the baseDn to lookup group in.
    enable: true
  - role: user
    group: cn=<%= vendor%>,cn=bmcUsers #the group in ldap
    groupBaseDn: ou=Group,dc=example,dc=com #the baseDn to lookup group in.
    enable: false
  - role: user
    group: RemoveGroup
    enable: false

ntp:
   enable: true
   server1: ntp0.example.com
   server2: ntp1.example.com
   server3: ntp3.example.com
   timezone: CET

network:
  sshEnable: true
  dnsFromDhcp: true  #bmc to get its DNS address from dhcp
  ipmiEnable: true
  dhcpEnable: true
  solEnable: true #serial over lan
  sshPort: 22
  ipmiPort: 623

#an example of setting the license key based on vendor.
<%= if ( vendor == "hp" ) { %>
license:
  key: ASDFKLAMDNARALKNBA123
<% } %>


<%= if ( vendor == "dell" ) { %>
#set dell idrac9 specific params
#in this case we set PXE bios settings.
dell:
  idrac9bios:
    PxeDev1EnDis: Enabled
    PxeDev2EnDis: Disabled
    PxeDev3EnDis: Disabled
    PxeDev4EnDis: Disabled
<% } %>

#Chassis setup configuration to be declared only if various asset attributes match.
<%= if ( assetType == "chassis" &&
	 extra["company"] == "skynet" &&
         extra["state"] == "needs-setup" &&
         extra["liveAssets"] == "" ) { %>
setupChassis:
  ipmiOverLan: 
    enable: true     #applies to all blades in a chassis
  flexAddress: 
    enable: false    #applies to all blades in a chassis
  dynamicPower: 
    enable: false    #DPSE on M1000e, Dynamic power for the c7000.
   addBladeBmcAdmins: #Add/Mod admin accounts to all blades in the chassis.
    - name: Administrator
      password: foobar123
    - name: barbar
      password: barbar
  removeBladeBmcUsers: #Remove admin accounts from all blades in the chassis.
    - name: olduser
    - name: foo
<% } %>
