name: For each commit and PR
on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 1
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.22'
    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        args: -v --config .golangci.yml --timeout=5m
        version: latest
    - name: make all-checks
      run: make all-checks
  test:
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 1
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 2
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.22'
    - name: make all-tests
      run: make all-tests
    - name: upload codecov
      run: bash <(curl -s https://codecov.io/bash)
